<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pdf</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  </head>

  <body>
    <div style="border-color: #4294e3; border-width: 4px; border-style: dotted; padding: 0.7rem; display: flex; flex-direction: colnum; justify-content: center; align-items: center">
      <div>
        <div style="display: flex; flex-direction: row; justify-content: center">
          <img src="./img/nailted.png" style="max-height: 75px; margin-top: 15px" />
        </div>
        <h3 style="text-align: center; font-family: system-ui, -apple-system, BlinkMacSystemFont">Más que una herramienta, una manera de hacer las cosas</h3>

        <div style="border-color: #4294e3; border-width: 4px; border-style: solid; padding: 0.7rem; width: 90vw; height: 500px">
          <div>
            <h2 style="text-align: center; margin-top: 5px; font-size: 50px; font-family: system-ui, -apple-system, BlinkMacSystemFont; text-decoration: underline; font-style: italic">Certificado</h2>
          </div>
          <div class="col-lg-8 text-center text-lg-start">
            <p style="text-align: center; margin: 5px; font-size: 25px; font-family: system-ui, -apple-system, BlinkMacSystemFont; font-style: italic; color: #2888e1">Este decumento certifica que ha realizado con exito nuestro formulario de cultura empresarial</p>
            <p style="text-align: center; margin-top: 5px; font-size: 25px; font-family: system-ui, -apple-system, BlinkMacSystemFont; font-size: 20px">"La plataforma de employee engagement para equipos exigentes que buscan la mejor experiencia de empleado"</p>
          </div>
          <div>
            <div style="display: flex; flex-direction: row; justify-content: center">
              <div style="width: 100px; height: 100px; border-radius: 50%; background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(rgb(50, 178, 218) 75%, rgb(180, 229, 246) 0)">
                <progress value="<%= globalScore %>" min="0" max="100" style="visibility: hidden; height: 0; width: 0"><%= globalScore %></progress>
              </div>
              <h2>Resultado general</h2>
            </div>
          </div>
          <div>
            <img src="./img/badge.svg" style="width: 100px; margin-top: 15px" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
